.heroSection {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh; /* New Property */
  position: relative;
  /* background-image: url('/background2.jpg'); */
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white; /* Or any other color */
}

.cardTitle {
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
}

.card:hover,
.card:focus,
.card:active {
  color: #9038ff;
  border-color: #9038ff;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.icon {
  margin-right: 10px; /* Space between the icon and the text */
  height: 24px; /* Or any other size */
  width: 24px; /* Or any other size */
  filter: grayscale(100%) brightness(0); /* Make the icon black */
}

.card:hover .icon {
  filter: grayscale(0%) brightness(1); /* Remove the grayscale filter */
}

.wave-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  transform-origin: 50% 100%;
}

.wave-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.title a {
  color: #9038ff;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
