.workflowSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #9038ff; /* Background color of section */
  padding: 20px; /* Padding to give space around blocks */
  position: relative;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.workflowStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Width of each block, change according to your needs */
  padding: 20px; /* Padding inside each block */
}

.workflowStep .stepTitle,
.stepDescription {
  color: white; /* Text color */
  margin: 5px 0; /* Margin to separate title and description */
}

.workflowStep .stepTitle {
  font-size: 28px; /* Font size of the title */
  font-weight: bold; /* Font weight of the title */
}

.workflowStep .stepDescription {
  font-size: 18px; /* Font size of the description */
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .grid {
    flex-direction: column;
  }

  .workflowStep {
    width: 100%; /* Takes the full width of the screen on mobile */
    padding: 20px 0; /* Adjust padding as needed */
  }
}
